In [1]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn import preprocessing
import tensorflow as tf
tf.set_random_seed(42)
import keras
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense
from sklearn.metrics import confusion_matrix

C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
bank_df = pd.read_csv("bank.csv")

In [3]:
bank_df.sample(5)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
6956,6957,15696605,Angelo,571,France,Male,49,4,180614.04,1,0,0,523.00,0
698,699,15669516,Steele,746,Spain,Male,36,2,0.00,2,1,1,16436.56,0
4085,4086,15627251,Tsui,520,France,Male,34,4,134007.90,1,1,1,193209.11,0
7807,7808,15568904,Kruglova,608,Germany,Male,34,3,106288.54,1,1,1,36639.25,0
2011,2012,15726267,Paterson,570,France,Male,32,9,117337.54,2,0,1,62810.91,0

In [4]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
bank_df.shape

(10000, 14)

In [6]:
bank_df.drop(['RowNumber','CustomerId','Surname',],axis=1,inplace=True)

In [7]:
bank_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [8]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [9]:
X = bank_df.iloc[:,0:10].values

In [10]:
Y = bank_df.iloc[:,-1].values

In [11]:
X_Encoder = LabelEncoder()

In [12]:
X[:,1] = X_Encoder.fit_transform(X[:,1])

In [13]:
X_Encoder1 = LabelEncoder()

In [14]:
X[:,2] = X_Encoder1.fit_transform(X[:,2])

In [15]:
oneHotEncoder = OneHotEncoder(categorical_features = [1])

In [16]:
X = oneHotEncoder.fit_transform(X).toarray()

C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [17]:
X = X[:,1:]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=7)

In [19]:
scaler = StandardScaler()

In [21]:
X_train_Scale = scaler.fit_transform(X_train)

In [22]:
X_test_Scale = scaler.transform(X_test)

In [23]:
X_train_Scale.shape

(8000, 11)

In [24]:
X_test_Scale.shape

(2000, 11)

In [25]:
model = Sequential()
model.add(Dense(6, input_dim=11, activation='relu'))
model.add(Dense(6, activation='relu'))
model.add(Dense(1, activation='sigmoid'))
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [26]:
model.fit(X_train_Scale, y_train, 
          validation_data=(X_test_Scale, y_test), 
          epochs=50,
          batch_size=X_train_Scale.shape[0])

WARNING:tensorflow:From C:\Users\SUPERMAN1\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 8000 samples, validate on 2000 samples
Epoch 1/50
8000/8000 [==============================] - 0s 43us/step - loss: 0.7528 - acc: 0.4835 - val_loss: 0.7480 - val_acc: 0.4945
Epoch 2/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7499 - acc: 0.4899 - val_loss: 0.7447 - val_acc: 0.5035
Epoch 3/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7465 - acc: 0.4980 - val_loss: 0.7410 - val_acc: 0.5105
Epoch 4/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7427 - acc: 0.5046 - val_loss: 0.7376 - val_acc: 0.5165
Epoch 5/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7391 - acc: 0.5113 - val_loss: 0.7341 - val_acc: 0.5215
Epoch 6/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7356 - acc: 0.5161 - val_loss: 0.7307 - val_acc: 0.5275
Epoch 7/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7320 - acc: 0.5219 - val_loss: 0.7273 - val_acc: 0.5330
Epoch 8/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7284 - acc: 0.5274 - val_loss: 0.7239 - val_acc: 0.5450
Epoch 9/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7249 - acc: 0.5324 - val_loss: 0.7206 - val_acc: 0.5560
Epoch 10/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7215 - acc: 0.5372 - val_loss: 0.7173 - val_acc: 0.5585
Epoch 11/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7180 - acc: 0.5447 - val_loss: 0.7140 - val_acc: 0.5635
Epoch 12/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7147 - acc: 0.5502 - val_loss: 0.7108 - val_acc: 0.5715
Epoch 13/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7113 - acc: 0.5554 - val_loss: 0.7077 - val_acc: 0.5790
Epoch 14/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7081 - acc: 0.5619 - val_loss: 0.7046 - val_acc: 0.5835
Epoch 15/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.7049 - acc: 0.5679 - val_loss: 0.7016 - val_acc: 0.5900
Epoch 16/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.7017 - acc: 0.5719 - val_loss: 0.6985 - val_acc: 0.5930
Epoch 17/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6986 - acc: 0.5784 - val_loss: 0.6956 - val_acc: 0.5960
Epoch 18/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6956 - acc: 0.5841 - val_loss: 0.6927 - val_acc: 0.6015
Epoch 19/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6926 - acc: 0.5896 - val_loss: 0.6899 - val_acc: 0.6070
Epoch 20/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6897 - acc: 0.5945 - val_loss: 0.6871 - val_acc: 0.6095
Epoch 21/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6868 - acc: 0.5982 - val_loss: 0.6844 - val_acc: 0.6110
Epoch 22/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6840 - acc: 0.6037 - val_loss: 0.6817 - val_acc: 0.6160
Epoch 23/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6812 - acc: 0.6097 - val_loss: 0.6791 - val_acc: 0.6190
Epoch 24/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6785 - acc: 0.6135 - val_loss: 0.6765 - val_acc: 0.6200
Epoch 25/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6758 - acc: 0.6190 - val_loss: 0.6740 - val_acc: 0.6265
Epoch 26/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6732 - acc: 0.6241 - val_loss: 0.6715 - val_acc: 0.6300
Epoch 27/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6706 - acc: 0.6286 - val_loss: 0.6691 - val_acc: 0.6350
Epoch 28/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6681 - acc: 0.6350 - val_loss: 0.6667 - val_acc: 0.6390
Epoch 29/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6656 - acc: 0.6396 - val_loss: 0.6643 - val_acc: 0.6430
Epoch 30/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6632 - acc: 0.6445 - val_loss: 0.6620 - val_acc: 0.6480
Epoch 31/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6608 - acc: 0.6490 - val_loss: 0.6597 - val_acc: 0.6505
Epoch 32/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6584 - acc: 0.6531 - val_loss: 0.6575 - val_acc: 0.6545
Epoch 33/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6561 - acc: 0.6565 - val_loss: 0.6553 - val_acc: 0.6565
Epoch 34/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6539 - acc: 0.6607 - val_loss: 0.6531 - val_acc: 0.6620
Epoch 35/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6516 - acc: 0.6635 - val_loss: 0.6510 - val_acc: 0.6720
Epoch 36/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6494 - acc: 0.6661 - val_loss: 0.6489 - val_acc: 0.6765
Epoch 37/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6473 - acc: 0.6693 - val_loss: 0.6468 - val_acc: 0.6785
Epoch 38/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6452 - acc: 0.6715 - val_loss: 0.6448 - val_acc: 0.6810
Epoch 39/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6431 - acc: 0.6756 - val_loss: 0.6428 - val_acc: 0.6835
Epoch 40/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6411 - acc: 0.6789 - val_loss: 0.6408 - val_acc: 0.6855
Epoch 41/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6390 - acc: 0.6814 - val_loss: 0.6389 - val_acc: 0.6890
Epoch 42/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6371 - acc: 0.6856 - val_loss: 0.6370 - val_acc: 0.6930
Epoch 43/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6351 - acc: 0.6901 - val_loss: 0.6351 - val_acc: 0.6965
Epoch 44/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6332 - acc: 0.6941 - val_loss: 0.6332 - val_acc: 0.7030
Epoch 45/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6313 - acc: 0.6980 - val_loss: 0.6313 - val_acc: 0.7050
Epoch 46/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6294 - acc: 0.7014 - val_loss: 0.6295 - val_acc: 0.7075
Epoch 47/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6276 - acc: 0.7053 - val_loss: 0.6277 - val_acc: 0.7085
Epoch 48/50
8000/8000 [==============================] - 0s 2us/step - loss: 0.6258 - acc: 0.7082 - val_loss: 0.6260 - val_acc: 0.7130
Epoch 49/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6240 - acc: 0.7111 - val_loss: 0.6242 - val_acc: 0.7155
Epoch 50/50
8000/8000 [==============================] - 0s 1us/step - loss: 0.6223 - acc: 0.7134 - val_loss: 0.6225 - val_acc: 0.7170

In [27]:
y_predict = model.predict(X_test_Scale)

In [28]:
y_predict = (y_predict>0.5)

In [29]:
cm = confusion_matrix(y_test,y_predict)

In [30]:
cm

array([[1384,  205],
       [ 361,   50]], dtype=int64)

In [31]:
metrics.accuracy_score(y_test,y_predict)

0.717

In [32]:
cr=metrics.classification_report(y_test,y_predict)
print(cr)

              precision    recall  f1-score   support

           0       0.79      0.87      0.83      1589
           1       0.20      0.12      0.15       411

    accuracy                           0.72      2000
   macro avg       0.49      0.50      0.49      2000
weighted avg       0.67      0.72      0.69      2000