In [16]:
#Importing the necessary Libraries 
import pandas as pd
import re
new_list=[]

#Reading the La Liga file and puttting it in a dataframe
liga_data = pd.read_csv('Laliga.csv' , delimiter=',')

print(liga_data.head())

#Replacing the fields which have - to 0
liga_data=liga_data.replace('-',0)

#Converting the data types wherever needed 
liga_data['Seasons']=liga_data['Seasons'].astype(int)
liga_data['Points']=liga_data['Points'].astype(int)
liga_data['GamesPlayed']=liga_data['GamesPlayed'].astype(int)
liga_data['GamesWon']=liga_data['GamesWon'].astype(int)
liga_data['GamesDrawn']=liga_data['GamesDrawn'].astype(int)
liga_data['GamesLost']=liga_data['GamesLost'].astype(int)
liga_data['GoalsFor']=liga_data['GoalsFor'].astype(int)
liga_data['GoalsAgainst']=liga_data['GoalsAgainst'].astype(int)
liga_data['Champion']=liga_data['Champion'].astype(int)
liga_data['Runner-up']=liga_data['Runner-up'].astype(int)
liga_data['Third']=liga_data['Third'].astype(int)
liga_data['Fourth']=liga_data['Fourth'].astype(int)
liga_data['Fifth']=liga_data['Fifth'].astype(int)
liga_data['Fourth']=liga_data['Fourth'].astype(int)
liga_data['Fifth']=liga_data['Fifth'].astype(int)
liga_data['Sixth']=liga_data['Sixth'].astype(int)


##Changing the column Debut to make it optimal for querying

for i in liga_data['Debut']:
    new_list.append(re.sub(r'\W\d\d','',i))
liga_data['Debut_updated']=new_list
liga_data['Debut_updated']=liga_data['Debut_updated'].astype(int)

print(liga_data.dtypes)

   Pos             Team  Seasons Points GamesPlayed GamesWon GamesDrawn  \
0    1      Real Madrid       86   4385        2762     1647        552
1    2        Barcelona       86   4262        2762     1581        573
2    3  Atletico Madrid       80   3442        2614     1241        598
3    4         Valencia       82   3386        2664     1187        616
4    5  Athletic Bilbao       86   3368        2762     1209        633

  GamesLost GoalsFor GoalsAgainst Champion Runner-up Third Fourth Fifth Sixth  \
0       563     5947         3140       33        23     8      8     3     4
1       608     5900         3114       25        25    12     12     4     6
2       775     4534         3309       10         8    16      9     7     6
3       861     4398         3469        6         6    10     11    10     7
4       920     4631         3700        8         7    10      5     8    10

    T    Debut Since/LastApp  BestPosition
0  79     1929          1929             1
1  83     1929          1929             1
2  56     1929       2002-03             1
3  50  1931-32       1987-88             1
4  49     1929          1929             1
Pos               int64
Team             object
Seasons           int32
Points            int32
GamesPlayed       int32
GamesWon          int32
GamesDrawn        int32
GamesLost         int32
GoalsFor          int32
GoalsAgainst      int32
Champion          int32
Runner-up         int32
Third             int32
Fourth            int32
Fifth             int32
Sixth             int32
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
Debut_updated     int32
dtype: object

In [4]:
#Printing all the teams which have started playing between 1930-1980
print("The following teams have debuted between 1930 & 1980")
print('-----------------------------------------------------')
for i in range(len(liga_data)):
    if((liga_data['Debut_updated'][i]>1930) & (liga_data['Debut_updated'][i] < 1980)):
        print(liga_data['Team'][i])

The following teams have debuted between 1930 & 1980
-----------------------------------------------------
Valencia
Sevilla
Zaragoza
Real Betis
Deportivo La Coruna
Celta Vigo
Valladolid
Sporting Gijon
Osasuna
Malaga
Oviedo
Mallorca
Las Palmas
Granada
Rayo Vallecano
Elche
Hercules
Tenerife
Murcia
Levante
Salamanca
Sabadell
Cadiz
Castellon
Cordoba
Recreativo
Burgos CF
Pontevedra
Gimnastic
Alcoyano
Jaen
AD Almeria
Lleida
Condal
Atletico Tetuan
Cultural Leonesa

In [5]:
#Print the list of teams which came Top 5 in terms of points
print(liga_data.nlargest(5,'Points'))

   Pos             Team  Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  \
0    1      Real Madrid       86    4385         2762      1647         552
1    2        Barcelona       86    4262         2762      1581         573
2    3  Atletico Madrid       80    3442         2614      1241         598
3    4         Valencia       82    3386         2664      1187         616
4    5  Athletic Bilbao       86    3368         2762      1209         633

   GamesLost  GoalsFor  GoalsAgainst       ...         Fourth  Fifth  Sixth  \
0        563      5947          3140       ...              8      3      4
1        608      5900          3114       ...             12      4      6
2        775      4534          3309       ...              9      7      6
3        861      4398          3469       ...             11     10      7
4        920      4631          3700       ...              5      8     10

    T    Debut  Since/LastApp BestPosition Debut_updated goaldiff  \
0  79     1929           1929            1          1929     2807
1  83     1929           1929            1          1929     2786
2  56     1929        2002-03            1          1929     1225
3  50  1931-32        1987-88            1          1931      929
4  49     1929           1929            1          1929      931

   winning_percent
0        59.630702
1        57.241130
2        47.475134
3        44.557057
4        43.772629

[5 rows x 23 columns]

In [8]:
#Writing a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 
#Using the same function, find the team which has maximum and minimum goal difference###

def Goal_diff_count():
    liga_data['goaldiff'] = liga_data['GoalsFor']-liga_data['GoalsAgainst']
    df1=liga_data[['Team','goaldiff']]
    print(df1)
    print("------------------------------------------------------------")
    print("The team with maximum Goal DIfference is")
    print(df1[df1['goaldiff']==df1['goaldiff'].max()])
    print("------------------------------------------------------------")
    print("The team with least Goal DIfference is")
    print(df1[df1['goaldiff']==df1['goaldiff'].min()])
    
Goal_diff_count()

                   Team  goaldiff
0           Real Madrid      2807
1             Barcelona      2786
2       Atletico Madrid      1225
3              Valencia       929
4       Athletic Bilbao       931
5               Sevilla       307
6              Espanyol      -280
7         Real Sociedad        -2
8              Zaragoza      -164
9            Real Betis      -333
10  Deportivo La Coruna      -136
11           Celta Vigo      -346
12           Valladolid      -413
13     Racing Santander      -525
14       Sporting Gijon      -399
15              Osasuna      -334
16               Malaga      -342
17               Oviedo      -309
18             Mallorca      -189
19           Las Palmas      -399
20           Villarreal       103
21              Granada      -338
22       Rayo Vallecano      -328
23                Elche      -272
24               Getafe      -113
25             Hercules      -334
26             Tenerife      -125
27               Murcia      -385
28               Alaves      -165
29              Levante      -202
..                  ...       ...
31             Sabadell      -228
32                Cadiz      -269
33             Logrones      -198
34            Castellon      -169
35             Albacete       -90
36              Almeria      -122
37              Cordoba      -145
38           Compostela       -42
39           Recreativo       -94
40            Burgos CF       -94
41           Pontevedra       -56
42             Numancia       -98
43                Eibar       -28
44               Arenas       -81
45          Real Burgos       -38
46            Gimnastic      -114
47          Extremadura       -55
48               Merida       -45
49             Alcoyano      -107
50                 Jaen       -62
51           Real Union       -31
52           AD Almeria       -45
53               Europa       -34
54               Lleida      -112
55              Leganes       -19
56                Xerez       -28
57               Condal       -20
58      Atletico Tetuan       -34
59     Cultural Leonesa       -31
60               Girona         0

[61 rows x 2 columns]
------------------------------------------------------------
The team with maximum Goal DIfference is
          Team  goaldiff
0  Real Madrid      2807
------------------------------------------------------------
The team with least Goal DIfference is
                Team  goaldiff
13  Racing Santander      -525

In [9]:
#Create a new column with name “Winning Percent” and append it to the data set (5 points)
#Percentage of Winning = (GamesWon / GamesPlayed)*100
#If there are any numerical error, replace it with 0%
#Print the top 5 teams which has the highest Winning percentage

liga_data['winning_percent']=liga_data['GamesWon']/liga_data['GamesPlayed']*100
liga_data['winning_percent']=liga_data['winning_percent'].fillna(0)
print(liga_data['winning_percent'])
print(liga_data.nlargest(5,'winning_percent'))

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60     0.000000
Name: winning_percent, Length: 61, dtype: float64
   Pos             Team  Seasons  Points  GamesPlayed  GamesWon  GamesDrawn  \
0    1      Real Madrid       86    4385         2762      1647         552
1    2        Barcelona       86    4262         2762      1581         573
2    3  Atletico Madrid       80    3442         2614      1241         598
3    4         Valencia       82    3386         2664      1187         616
4    5  Athletic Bilbao       86    3368         2762      1209         633

   GamesLost  GoalsFor  GoalsAgainst       ...         Fourth  Fifth  Sixth  \
0        563      5947          3140       ...              8      3      4
1        608      5900          3114       ...             12      4      6
2        775      4534          3309       ...              9      7      6
3        861      4398          3469       ...             11     10      7
4        920      4631          3700       ...              5      8     10

    T    Debut  Since/LastApp BestPosition Debut_updated goaldiff  \
0  79     1929           1929            1          1929     2807
1  83     1929           1929            1          1929     2786
2  56     1929        2002-03            1          1929     1225
3  50  1931-32        1987-88            1          1931      929
4  49     1929           1929            1          1929      931

   winning_percent
0        59.630702
1        57.241130
2        47.475134
3        44.557057
4        43.772629

[5 rows x 23 columns]

In [13]:
#Group teams based on their “Best position” and print the sum of their points for all positions
point_data = liga_data['Points'].groupby(liga_data['BestPosition'])
print(point_data.sum())

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int32